{% extends 'base.html.twig' %}
 {% block body %}
 <div class="info text-center my-8">
<h1>Hello {{name}}!</h1>
<form action="{{path("changeMyName")}}" method="post">
  <div class="form-group">
<label for="name">Name:</label>
<input type="text" id="name" name="name" value=""></input><br>
</div>
<button type="submit" name="submit" class="btn btn-primary">submit</button>
</form>
<a href="{{path('learning')}}" style="color:blue; padding-top:20px;font-size:25;">About Me</a>
</div>
 {% endblock %}